[submodule "protobufs"]
	path = protobufs
	url = https://github.com/baymesh/protobufs.git
	branch = baymesh-latest
[submodule "meshtestic"]
	path = meshtestic
	url = https://github.com/meshtastic/meshTestic
